<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>><%= user.username %></title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h1><%= user.username %>'s Pantry</h1>

    <ul>
        <% pantry.forEach(item => { %>
            <li><strong><%= item.name %></strong> - <%= item.quantity %></li>
        <% }) %>
    </ul>

    <a href="/community">Back to Community</a>
</body>
</html>